.main-contents
  .current-group__box
    =link_to "http://localhost:3000/" do
      .current-group__group-edit
        Edit

    .current-group__group-name
      test-current-group

    .current-group__memberlist
      Member：
      %ul.current-group__memberlist--list
        %li.current-group__memberlist--member
          test
        %li.current-group__memberlist--member
          test

  .message-post__box
    .message-post__messages
      =render "layouts/message"