.main-contents
  .current-group__box
    =link_to "http://localhost:3000/" do
      .current-group__group-edit
        Edit

    .current-group__group-name
      test-current-group

    .current-group__memberlist
      Member：
      %ul.current-group__memberlist--list
        %li.current-group__memberlist--member
          test
        %li.current-group__memberlist--member
          test

  .message-post__box
    .messages
      .message-post__post
        .message-post__upper-info
          .message-post__upper-info--user-name
            test-user
          .message-post__upper-info--time
            2019/07/03(Wed) 13:47:12
        .message-post__message
          test-message
          
      .message-post__post
        .message-post__upper-info
          .message-post__upper-info--user-name
            test-user
          .message-post__upper-info--time
            2019/07/03(Wed) 13:47:12
        .message-post__message
          test-message

      .message-post__post
        .message-post__upper-info
          .message-post__upper-info--user-name
            test-user
          .message-post__upper-info--time
            2019/07/03(Wed) 13:47:12
        .message-post__message
          test-message

      .message-post__post
        .message-post__upper-info
          .message-post__upper-info--user-name
            test-user
          .message-post__upper-info--time
            2019/07/03(Wed) 13:47:12
        .message-post__message
          test-message

      .message-post__post
        .message-post__upper-info
          .message-post__upper-info--user-name
            test-user
          .message-post__upper-info--time
            2019/07/03(Wed) 13:47:12
        .message-post__message
          test-message

      .message-post__post
        .message-post__upper-info
          .message-post__upper-info--user-name
            test-user
          .message-post__upper-info--time
            2019/07/03(Wed) 13:47:12
        .message-post__message
          test-message

      .message-post__post
        .message-post__upper-info
          .message-post__upper-info--user-name
            test-user
          .message-post__upper-info--time
            2019/07/03(Wed) 13:47:12
        .message-post__message
          test-message

      .message-post__post
        .message-post__upper-info
          .message-post__upper-info--user-name
            test-user
          .message-post__upper-info--time
            2019/07/03(Wed) 13:47:12
        .message-post__message
          test-message  
