.main-contents
  .current-group__box
    =link_to "http://localhost:3000/" do
      .current-group__group-edit
        Edit

    .current-group__group-name
      test-current-group

    .current-group__memberlist
      Member：
      %ul.current-group__memberlist--list
        %li.current-group__memberlist--member
          test
        %li.current-group__memberlist--member
          test

  .message-post__box
    .message-post__messages
      =render "layouts/message"

  .form
    %form{class: "form__box", action: "http://localhost:3000/", method: "post"}
      .form__text-box
        %input{type: "text", class: "form__text-box--text", placeholder: "type a message"}      
        %label{class: "form__text-box--img-post"}
          %i.fa.fa-image
          %input{type: "file", class:"form__text-box--file-choice"}
      %input{type: "submit", class: "form__send-btn", value: "Send"}