.form{
  height: 50px;
  width: calc(100vw - 380px);
  background-color: #dddddd;
  padding: 20px 40px;

  &__box{
    display: flex;
    width: 100%;
  }

  &__send-btn{
    height: 50px;
    width: 100px;
    padding: 0 30px;
    margin-left: 15px;
    background-color: #38aef0;
    color: white;
    cursor: pointer;
  }

  &__text-box{
    width: 100%;
    display: flex;
    position: relative;

    &--text{
      font-size: 16px;
      color: #434A54;
      height: 50px;
      width: 100%;
      padding: 0 40px 0 10px;
    }

    &--img-post{
      font-size: 1.3rem;
      position: absolute;
      top: 10px;
      right: 10px;

      .fa{
        cursor: pointer;
      }
      
    }

    &--file-choice{
      display: none;
    }
  }
}