.message-post__box{
  position: absolute;
  height: calc(100vh - 190px);
  width: calc(100% - 300px);
  background-color: #fafafa;
  left: 300px;
  top: 100px;
  overflow: scroll;
} 

.messages{
  padding: 46px 40px;
}

.message-post__post{
  padding-bottom: 40px;
}

.message-post__upper-info{
  display: flex;
  &--user-name{
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #434A54; 
  }

  &--time{
    font-size: 12px;
    color: #999999;
  }
}

.message-post__message{
  padding-top: 10px;
  font-size: 14px;
  color: #434A54
}