.wrapper{
  .chat-side{
    position: fixed;  
    width: 300px;
    height: 100vw;
      &__user{
        height: 100px;
        line-height: 100px;
        padding: 0 20px;
        background-color: #253141;
        .user__box{
          display: flex;
          width: 100%;
          color: #ffffff;
            .box__user-name{
              font-size: 16px;
              font-weight: bold;
            }
            .box__menu{
              display: flex;
              margin-left: auto;
              li{
                padding-left: 5px;
              }
            }
        }
      }
      &__grouplist{
        height: calc(100vw - 82px);
        background-color: #2f3e51;
        color: #ffffff;
        .group__box{
          padding: 20px;
          .box__group-name{
            font-size: 15px;
            font-weight: bold;
            padding-bottom: 5px;
          }
          .box__latest-message{
            font-size: 11px;
            font-weight: bold;
          }
        
        }
      }
  }
}