- @messages.each do |message|
  .message-post__post
    .message-post__upper-info
      .message-post__upper-info--user-name
        = message.user.name
      .message-post__upper-info--time
        = message.created_at
    .message-post__message
      = message.body