.message-post__post
  .message-post__upper-info
    .message-post__upper-info--user-name
      test-user
    .message-post__upper-info--time
      2019/07/03(Wed) 13:47:12
  .message-post__message
    test-message
    
.message-post__post
  .message-post__upper-info
    .message-post__upper-info--user-name
      test-user
    .message-post__upper-info--time
      2019/07/03(Wed) 13:47:12
  .message-post__message
    test-message

.message-post__post
  .message-post__upper-info
    .message-post__upper-info--user-name
      test-user
    .message-post__upper-info--time
      2019/07/03(Wed) 13:47:12
  .message-post__message
    test-message

.message-post__post
  .message-post__upper-info
    .message-post__upper-info--user-name
      test-user
    .message-post__upper-info--time
      2019/07/03(Wed) 13:47:12
  .message-post__message
    test-message

.message-post__post
  .message-post__upper-info
    .message-post__upper-info--user-name
      test-user
    .message-post__upper-info--time
      2019/07/03(Wed) 13:47:12
  .message-post__message
    test-message

.message-post__post
  .message-post__upper-info
    .message-post__upper-info--user-name
      test-user
    .message-post__upper-info--time
      2019/07/03(Wed) 13:47:12
  .message-post__message
    test-message

.message-post__post
  .message-post__upper-info
    .message-post__upper-info--user-name
      test-user
    .message-post__upper-info--time
      2019/07/03(Wed) 13:47:12
  .message-post__message
    test-message

.message-post__post
  .message-post__upper-info
    .message-post__upper-info--user-name
      test-user
    .message-post__upper-info--time
      2019/07/03(Wed) 13:47:12
  .message-post__message
    test-message  
